@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

li {
  list-style: none;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav .nav__link-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
.nav .nav__link-list li {
  padding: 15px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav .nav__link-list li:hover {
  color: #c6742f;
}

.nav .nav__logo {
  width: 53px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav img {
  width: 100%;
}

/* SLIDER SECTION */

.slider-section {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  align-items: center;
  background-image: url("assets/pattern-wallpaper-colored2.png");
  background-repeat: no-repeat;
  background-position: center;
}

.slides-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex: 1;
  transform: translateX(-100%);
}

.slide {
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  height: 100%;
}

.slide__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 35%;
  color: white;
  height: auto;
}

.slide__text h1 {
  font-size: 58px;
}

.slide__text button {
  width: fit-content;
  font-size: 24px;
  padding: 15px 48px;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease-in-out;
}

.slide__text button:hover {
  background-color: black;
  color: white;
}

.slide__img {
  width: 45%;
  height: auto;
  box-sizing: border-box;
  padding: 40px;
}

.slide__img img {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  object-fit: cover;
}

.slides-contorl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
}

.slide-text-animation {
  animation-name: slide-text-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.slide-img-animation {
  animation-name: slide-img-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(1, 0.26, 0.18, 0.96);
}

@keyframes slide-text-in {
  0% {
    opacity: 0%;
    transform: translateX(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}

@keyframes slide-img-in {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0%);
  }
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.slide-indecator {
  gap: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-indecator .slide-point {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border: solid black 3px;
  border-radius: 50%;
}

.active-point {
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}

.control button {
  border-radius: 50%;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.control button:hover {
  filter: invert(100%);
}

.control img {
  width: 24px;
}

#btn-next img {
  transform: rotate(190deg);
}

@media only screen and (max-width: 1024px) {
  .slide {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .slide__text {
    text-align: center;
    align-items: center;
  }
  .slide__text h1 {
    font-size: 38px;
  }

  .nav .nav__link-list {
    display: none;
  }
  .nav {
    justify-content: center;
    background-color: white;
    align-items: center;
  }

  .slide__text {
    width: 80%;
  }

  .slide__img {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .slider-section {
    background-image: url("/assets/pattern-wallpaper-mob.png");
  }
}
